.container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
.about{
    align-items: center;
}
.about-me{
    width:500px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 14px;
}
.left-section{
    height: 300px;
    width: 300px;
    padding: 20px;
    margin-left:100px;
}

.middle-section{
    height: 300px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-image: url('/public/images/hero.jpg');
    background-size: cover;
}

.right-section{
    height: 300px;
    width: 300px;
    margin-right: 100px;
}

.bar{
    background-color:#ececec;
    margin-bottom: 20px;
    height: 10px;
}
.bar1{
    height:10px;
    width:25%;
    background-color: rgb(33, 150, 243);
    
}
.hi{
    font-size: 30px;
    font-weight: 10px;
}